script
  $(function(){
    $('[type="range"]').bind('change',function(e){
      $('[name="quote"]').css({
        'font-size': $('[type="range"]').val() + "px",
        'height': $('[type="range"]').val() * 1.4 + "px"
        });
      });
    $('[name="fontfamily"]').bind('change', function(e){
      $('[name="quote"]').css({
        'font-family' : $('[name="fontfamily"]').val()
      });
    });

    $('[name="quote"]').css({
      'font-family' : $('[name="fontfamily"]').val()
    });

      $('[name="quote"]').css({
        'font-size': $('[type="range"]').val() + "px",
        'height': $('[type="range"]').val() * 1.4 + "px"
        });

  });

form(action="/quotes/new", method="post")
  input(type="range", min=5, max=200, value=30, name="fontsize")
  br
  select(name="fontfamily")
    option(value="AbrahamLincolnRegular") Abraham Lincoln
    option(value="BenderSolidRegular") Bender
  br
  textarea(name="quote", placeholder="quote here")
  br
  input(type="submit") submit